.form-container {
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    padding: 80px;
    box-sizing: border-box;

    position: relative;
    z-index: 2;
}

.left-container {
    flex: 1;
    max-width: 520px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

    font-size: clamp(2rem,4vw,3rem);
    font-weight: 600;
    line-height: 1.2;
}

.left-container {
    opacity: 0.95;
}

.right-container {
    width: 500px;
    background: white;

    padding: 32px;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    gap: 22px;

    box-shadow: 0 20px 60px rgba(0,0,0,0.35);
}

.form-title {
    font-size: 14px;
    font-weight: 600;
    color: #111;
}

.type-selector {
    display: flex;
    background: #f3f3f3;
    padding: 6px;
    border-radius: 10px;
}

.type-btn {
    flex: 1;
    padding: 10px;

    border: none;
    background: transparent;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.type-btn.active {
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}